@import url("https://fonts.googleapis.com/css?family=Merriweather:300i,400,700|Montserrat:700&display=swap");

//fonts
$merriweather-font: "Merriweather", serif;
$montserrat-font: "Montserrat", sans-serif;

//colors
$background-color: #282828;
$text-primary-color: white;
$text-secondary-color: #797979;
$red: #d02035;

$container-bottom-margin: 30px;
